body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* css créé par Adeline */

/* App.jsx */
.TitreDeApplication {
  text-align: center;
  color: #100167;
  margin-bottom: 2rem;
  font-family: "inter", "regular";
}

.DescriptionApplication {
  color: black;
  margin: 1.4rem;
  margin-bottom: -6rem;
}

/* Search.jsx */
.formSearch {
  margin-bottom: -3rem;
}

input {
  width: 33rem;
}

/* #header-search{
  color: black;
} */

.BtnPrimary {
  color: white;
  background-color: #2b30af;
  margin-left: 1rem;
}

/* ListeJeux.jsx */
.containerListeJeux {
  margin-bottom: -3rem;
}

.placeImageEtTitre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.TitreListeJeux {
  color: black;
  font-family: "inter", "regular";
  font-size: 1rem;
  margin-left: -3rem;
}

.ImageListe {
  width: 16rem;
  margin-right: 5rem;
}

/* Un seul Jeux  */

.TitreJeux {
  color: black;
  text-align: left;
  font-family: "inter", "regular";
}

.ImageSeul {
  width: 15rem;
}

.date {
  color: black;
  text-align: left;
  font-family: "inter", "regular";
}

/* partie mobile  */
@media all and (orientation: portrait) {
  /* App.jsx */
  .TitreDeApplication {
    text-align: center;
    color: #100167;
    margin-bottom: 2rem;
    font-size : 1.83rem;
    font-family: "inter", "regular";
  }

  .DescriptionApplication {
    color: black;
    /* margin: 1.4rem; */
    margin-bottom: -6rem;
  }

  /* Search.jsx */
  .formSearch {
    margin-bottom: -3rem;
  }

  input {
    width: 5rem;
  }

  #header-search{
  color: black;
}

  .BtnPrimary {
    color: white;
    background-color: #2b30af;
    margin-right: -1rem;
  }

  /* ListeJeux.jsx */
  .containerListeJeux {
    margin-bottom: -3rem;
  }

  .TitreListeJeux {
    color: black;
    text-align: center;
    font-family: "inter", "regular";
    font-size: 1.4rem;
  }

  .ImageListe {
    width: 11rem;
    margin-bottom: 2rem;
  }

  /* Un seul Jeux  */

  .TitreJeux {
    color: black;
    text-align: left;
    font-family: "inter", "regular";
    font-size: 1.4rem;
  }

  .ImageSeul {
    margin: auto;
    width: 13rem;
  }

  .date {
    color: black;
    text-align: left;
    font-family: "inter", "regular";
  }
}
